ul.down {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  width: 100%;
  font-family: "Trirong", serif;
  font-size:16
}

li.down {
  float: left;
}

li.downuno {
	float:right
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: white;
  color: black
}

li.dropdown {
  display: inline-block;
  float: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width:160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: "Trirong", serif;
  font-size:15
}

.dropdown-content a:hover {
  background-color: #000000;
  color: white
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*Termina el menú*/


.bottomright {
  position: fixed;
  position: bottomright;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}

.ABC{
	padding: 18px 57px;
}

img.uno{
	width:100%;
}

td.UNO{
	color: white;
	text-align: center;
	font-family: Goudy Old Style;
}

td.DOS{
	font-family: Goudy Old Style;
}

th.UNO{
	color:white;
	font-family:Goudy Old Style;
}

th.DOS{
	font-family:Goudy Old Style;
}

table.A{
	background-color:black;
	width:100%;
}

/* NO DA TIEMPO, METER PRESIÓN AL GRUPO*/
