
/*Comienza el menú*/
ul.down {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  width: 100%;
  font-family: "Trirong", serif;
  font-size:20
}

li.down {
  float: left;
}

li.downuno {
    float:right
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 0px 20px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: white;
  color: black
}

li.dropdown {
  display: inline-block;
  float: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width:160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: "Trirong", serif;
  font-size:15
}

.dropdown-content a:hover {
  background-color: #000000;
  color: white
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*Termina el menú*/
  
table {
  border-collapse: collapse;
  width: 80%;
  
}

td {
  
  font-size:20;
 
  
}

th {
    padding: 10px;
    border-bottom: 1px solid #ddd;

}
td:hover {
    background-color: coral;
   
    
}

img.flechad:hover {
    opacity: 0.5;
    transition: all 0.3s ease;
    
}

hr.linea {
  height: 5px;
  background-color: black;
 
}

.bottomright {
  position: fixed;
  position: bottomright;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}

div.texto {
    background-color:#000;
    color:white;
    width: 100%;
    padding: 15px 15px;
    font-size: 15
}


p.p1 {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 350%;
  margin-bottom: 0%;
}

p.t1 {

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p.t2 {

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}







/*Estilos de la galeria */
.galeria{

width: auto;
margin: auto;
padding: 0px;
box-sizing: border-box;

display: flex;
flex-wrap: wrap;
justify-content: space-around

}

.galeria li {

margin: 5px;

}


.galeria img{

width: 150px;
height: 100px;
}

/*Estilos del modal */

.modal {
position: absolute;
top: -100%;
}

.modal:target{

transition: 0.5s;
position: fixed;
background: rgba(0,0,0,0.8);
top: 0;
left: 0;
width: 100%;
height: 100%;
}



.imagen{

width: 100%;
height: 50%;

display: flex;
justify-content: center;
align-items: center;

}





.imagen a{
color: #fff;
font-size: 40px;
text-decoration: none;
margin: 0 10px;
}

.imagen a:nth-child(2) {

margin: 0;
height: 100%;
flex-shrink: 2;
}


.imagen img {

width: 500px;
height: 100%;
max-width: 100%;
border: 7px solid #fff;
box-sizing: border-box;
}

.cerrar {

display: block;
background: #fff;
width: 25px;
height: 25px;
margin: auto;
text-align: center;
text-decoration: none;
font-size: 25px;
color:black;
padding: 5px;
border-radius: 50%;
line-height: 25px;
}







